h1 {
  font-size: 60px;
  font-weight: 500;
  font-family: Papyrus, Verdana, sans-serif;
  color: #8f55e5;
  text-align: center;
}
li {
  margin: 70px;
  text-align: center;
  list-style: none;
  font-size: 25px;
}
a {
  text-decoration: none;
  text-align: center;
  padding: 15px;
  font-size: 23px;
  border: 7px outset rgb(222, 222, 232);
  border-radius: 20px;
  font-family: Georgia, sans-serif;
  color: #e7d40c;
  text-shadow: 0 0 10px #e7d40c, 0 0 20px #e7d40c, 0 0 30px #e7d40c,
    0 0 40px #e7d40c;
  background-color: rgba(150, 230, 254, 0.3);
}
body {
  background-color: rgb(22, 29, 34);
}
